@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: floralwhite;
}

/* Quiz Component Styles */

.quiz-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.question-header {
  text-align: center;
  text-transform: uppercase;
}

.question {
  text-align: center;
  margin-bottom: 3em;
}

.quiz-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 600px;
  background-color: rgb(255, 247, 232);
  /* border-radius: 6px; */
  /* box-shadow: 5px 5px 5px rgb(187, 187, 187); */
  padding: 1em;
}

.answer-list {
  list-style: none;
  display: flex;
  justify-content: center;
}

.answer-option {
  cursor: pointer;
  width: 300px;
  text-align: center;
  font-size: 20px;
  margin: 0.5em 0;
}

.selected {
  background-color: lightskyblue;
}

.question-difficulty {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  width: fit-content;
  padding: 5px 15px;
  border-radius: 5px;
  margin: 2em 0;
}

.check-answer-btn {
  cursor: pointer;
  width: 150px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  margin: 1.5em 0;
  padding: 5px 10px;
}

.correct-answer {
  color: green;
}

.incorrect-answer {
  color: red;
}

.easy {
  background-color: greenyellow;
}

.medium {
  background-color: darkorange;
}

.hard {
  background-color: red;
}

.button-controls {
  display: flex;
  justify-content: space-evenly;
  width: 200px;
  margin: 1em;
}

.prev-btn,
.next-btn {
  background-color: deepskyblue;
  padding: 10px 15px;
  border-style: none;
  border-radius: 2px;
  font-weight: bold;
  cursor: pointer;
  color: floralwhite;
}

.prev-btn:hover,
.next-btn:hover {
  background-color: rgb(0, 150, 199);
}

.next-btn {
  padding: 10px 25px;
}
