@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: ghostwhite;
}

/* Quiz Component Styles */

.quiz-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.question-header {
  text-align: center;
  text-transform: uppercase;
}

.question {
  text-align: center;
  margin-bottom: 3em;
  max-width: 350px;
  word-wrap: break-word;
}

.quiz-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: fit-content;
  background-color: white;
  border: 1px solid black;
  padding: 1em;
}

.answer-list {
  list-style: none;
  display: flex;
  justify-content: center;
}

.answer-option {
  cursor: pointer;
  width: 300px;
  text-align: center;
  font-size: 18px;
  margin: 0.5em 0;
}

.selected {
  background-color: lightskyblue;
}

.question-difficulty {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  width: fit-content;
  padding: 5px 15px;
  border-radius: 5px;
  margin: 2em 0;
}

.check-answer-btn {
  cursor: pointer;
  width: 150px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  margin: 1.5em 0;
  padding: 5px 10px;
}

.correct-answer,
.incorrect-answer {
  font-size: 20px;
}

.correct-answer {
  color: green;
}

.incorrect-answer {
  color: red;
}

.easy {
  background-color: greenyellow;
}

.medium {
  background-color: darkorange;
}

.hard {
  background-color: red;
}

.button-controls {
  display: flex;
  justify-content: space-evenly;
  width: 200px;
  margin: 1em;
}

.prev-btn,
.next-btn {
  background-color: deepskyblue;
  padding: 10px 15px;
  border-style: none;
  border-radius: 2px;
  font-weight: bold;
  cursor: pointer;
  color: floralwhite;
}

.prev-btn:hover,
.next-btn:hover {
  background-color: rgb(0, 150, 199);
}

.next-btn {
  padding: 10px 25px;
}

.quiz-score {
  font-size: 20px;
  margin: 0.5em 0;
  font-weight: bold;
}

.game-over-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
}

.game-over-header {
  font-size: 50px;
  text-transform: uppercase;
  margin: 0;
}

.final-score {
  font-size: 25px;
  margin: 0;
}

.save-controls {
  display: flex;
  justify-content: center;
}

.save-btn {
  background-color: deepskyblue;
  padding: 10px 15px;
  border-style: none;
  border-radius: 2px;
  font-weight: bold;
  cursor: pointer;
  color: floralwhite;
  margin: 0.5em;
}

.save-btn:hover {
  background-color: rgb(0, 150, 199);
}

.save-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-input {
  margin: 0.5em 0;
}

.submit-btn {
  cursor: pointer;
  margin: 1em 0;
}

.highscore-header {
  text-align: center;
  text-decoration: underline;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #131313;
  padding: 8px;
}

th,
td {
  text-align: center;
}

td {
  text-transform: uppercase;
}

.play-again-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.restart-btn {
  background-color: deepskyblue;
  padding: 10px 15px;
  border-style: none;
  border-radius: 2px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  color: floralwhite;
}

.restart-btn:hover {
  background-color: rgb(0, 150, 199);
}

.refresh-btn {
  background-color: deepskyblue;
  padding: 10px 15px;
  border-style: none;
  border-radius: 2px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  color: floralwhite;
  margin: 1em 0;
}

.refresh-btn:hover {
  background-color: rgb(0, 150, 199);
}
